#taskCompleted{
    background-color:lightgreen;
    color: black;
    text-decoration: line-through;
    font-weight: bold;
}
/* #taskCompletedColor{
    text-decoration: line-through;
   
} */

#taskNotCompleted{
    background-color:  #f3f0ff;
    
}

input{
   border:none;
background-color: transparent;
}

